:root {
	--basic-card-spacing: 15px;
	--basic-card-width: 25%;
}

.basic-card-container {
	display: flex;
	flex-flow: row wrap;
	margin: calc(-1 * var(--basic-card-spacing));
}

.basic-card {
	display: flex;
	border: 1px solid #bbb;
	margin: var(--basic-card-spacing);
	width: calc(var(--basic-card-width) - 2 * var(--basic-card-spacing));
	padding: var(--basic-card-spacing);
	text-align: center;
}
.basic-card[data-destination="true"] {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	transition: .33s;
}
.basic-card[data-destination="true"]:hover {
	background-color: rgba(0, 0, 0, .05); 
}
.basic-card[data-size="2"] {
	width: calc(2 * var(--basic-card-width) - 2 * var(--basic-card-spacing));
}
.basic-card[data-size="3"] {
	width: calc(3 * var(--basic-card-width) - 2 * var(--basic-card-spacing));
}
.basic-card[data-size="4"] {
	width: calc(4 * var(--basic-card-width) - 2 * var(--basic-card-spacing));
}

.basic-card-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.basic-card-content.basic-card-content-centered {
	justify-content: center;
}

.basic-card .basic-card-image-wrapper {
	/* border: 1px solid #bbb; */
	margin: 10px;
	margin-bottom: calc(10px + var(--basic-card-spacing));
}
.basic-card .basic-card-image-wrapper img {
	width: 100%;
}

.basic-card h4 {
	font-size: 18px;
	padding-bottom: 10px;
}

.basic-card .basic-card-image-wrapper + h4 {
	margin: 0px calc(-1 * var(--basic-card-spacing));
	border-top: 1px solid #bbb;
	padding-top: var(--basic-card-spacing);
}

.basic-card p {
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
}

.basic-card ul.bulletless {
	list-style-type: none;
}
.basic-card ul li {
	line-height: 22px;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-item {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}