.carousel {
    width: 85%;
    height: 90%;
    background-color: white;
    margin-left:5%;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
    margin-top:30%;
}

.carouselInner .center {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 60px;
    text-align-last: center;
}

h2 {
    font-size: 1.5rem;
    color: white;
    text-align: left;
}

p {
    font-size: 1rem;
    color: white;
    text-align: left;
}

h1, p {
    padding: 20px;
    border-radius: 9px;
}

.carouselInner .right {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
    margin-top:30%;
}